<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanticheart.tcg">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.quanticheart.tcg.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/FullScreen">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="tcg" />

        <activity
            android:name="com.quanticheart.tcg.presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.quanticheart.tcg.presentation.main.MainActivity" />
        <activity android:name="com.quanticheart.tcg.presentation.details.CardDetailsActivity" />
        <activity android:name="com.quanticheart.tcg.presentation.about.AboutActivity" />
        <activity android:name="com.quanticheart.tcg.presentation.login.LoginActivity" />
    </application>

</manifest>